@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #caf319; /* FIXED */
    --font-montserra: "Montserrat", sans-serif;
    --font-geist-poppins: "Poppins";
    --font-lato: "Lato", sans-serif;
    --text-dark: #000000;
    --font-primary: "Kalnia", serif;
    --text-secondary: #595858;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserra);
    --font-pop: var(--font-geist-poppins);
    --font-lato: var(--font-lato);
    --text-dark: var(--text-dark);
    --font-primary: var(--font-primary);
    --text-secondary: var(--text-secondary);

}

@layer base {
    body {
        @apply bg-background text-dark;
    }

    h1 {
        @apply text-4xl font-bold font-sans;
    }

    h2 {
        @apply text-3xl font-bold font-sans;
    }

    h3 {
        @apply text-2xl font-bold font-sans;
    }
}

@layer utilities {
    .center {
        @apply flex justify-center items-center;
    }

    .stack {
        @apply flex flex-col;
    }

    .fl {
        @apply flex justify-between items-center;
    }
}

@layer components {
    header {
        @apply min-h-20  h-28 w-full  overflow-hidden fixed inset-0 top-0 z-50 flex items-end ;

        .logo {
            @apply  w-[205px] bg-foreground h-[80px]  rounded-r-full max-w-[302px] ;
            div {
                @apply  h-full relative w-36 ml-5 flex justify-center items-center overflow-hidden object-cover;
            }
        }

        button {
            @apply flex justify-center items-center p-4 text-2xl font-lato bg-gray-300 mr-2 rounded-xl cursor-pointer relative hover:bg-gray-400 sm:hidden;
        }

        nav {
            @apply hidden sm:flex items-center justify-center w-[calc(100%-35%)]  h-full relative  md:w-[69%] lg:w-[65%] xl:w-[60%] lg:mr-5 max-w-[812px] overflow-hidden ;

            ul {
                @apply flex justify-end items-center h-full rounded-l-full text-base gap-[0.277rem] md:text-[17px] md:gap-[0.1rem]  font-sans lg:gap-8 text-white;

                a {
                    @apply relative  transition-all;
                }
            }
        }
    }

    #hero {
        @apply w-full h-dvh min-h-screen overflow-hidden   relative;

        .poster {
            @apply absolute h-[97%] w-full overflow-hidden object-cover rounded-b-[4rem] sm:rounded-b-[10rem] z-0;
        }

        .text-box {
            @apply relative z-10 w-full h-full flex flex-col justify-center items-center gap-4 px-5;

            div {
                @apply w-full overflow-hidden  text-background relative;

                h1 {
                    @apply text-[60px]  xl:text-[120px] xl:font-extrabold font-primary sm:text-[75px] md:text-[80px];

                    span {
                        @apply inline-flex items-center rounded-full bg-foreground px-8 py-2 text-gray-900  font-bold overflow-hidden sm:ml-2 sm:mt-0;
                    }
                }
            }
        }
    }

    #showcase {
        @apply w-full relative overflow-hidden my-[22px] text-[35px] px-5;

        .grid-box {
            @apply w-full relative  gap-2 bg-foreground rounded-[70px] overflow-auto;

            .text-box {
                @apply relative h-[160px] w-full  flex flex-col items-center justify-center gap-2 bg-red-500;

                div {
                    @apply bg-red-500;

                    h2 {
                        @apply text-5xl;
                    }
                }

                .rectangle {
                    @apply absolute bottom-0 left-1/2  h-[1px] w-[80%] transform -translate-x-1/2 bg-[#6B6868];
                }
            }
        }
    }
}
